.landing-area {
  background: url(../images/house.jpg) no-repeat center center fixed;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 1;
}
.l-container{
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100%;
}
.right-0{
  right: 0 !important;
}
.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #AF2024 !important;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
a {
  color: #AF2024 !important;
  text-decoration: underline;
}
.btn-primary {
  color: #fff;
  background-color: #AF2024 !important;
  border-color: #AF2024 !important;
}

@media (min-width: 576px) {
  /* .container,
  .container-sm {
    max-width: 700px !important;
  } */
}
